<html lang="en">
<head>
    <title>Lumber Company</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="invoice.css">
    <meta name="description" content="This webpage is to provide information about invoices for the company">
</head>
<body>
    <header>
        <h1><a href="info.html">Invoices</a></h1>
    </header>

    <nav>
        <ul>
            <li><a href="info.html">Enter an Invoice</a></li>
            <li><a href="invoice_list.html">Current Invoices</a></li>
        </ul>
    </nav>

    <div id="wrapper">
        <br>
        
        <main>
            <h2>~ Enter a Service Invoice ~</h2>
          
            <h3>Client Information:</h3>
            <form action="{% url 'submit_invoice' %}" method="post">
                {% csrf_token %}
                <label for="firstName">First Name:</label>
                <input type="text" name="first_name" id="myfirstName" required="required">
                <br>
            
                <label for="lastName">Last Name:</label>
                <input type="text" name="last_name" id="mylastName" required="required">
                <br>
            
                <label for="address">Address:</label>
                <input type="text" name="address" id="address" required="required">
                <br>
                
                <label for="service">Service:</label>
                <input type="text" name="Service" id="myService" required="required">
                <br>  
                
                <label for="Price">Price:</label>
                <input type="text" name="Price" id="myPrice" required="required">
                <br>      

                <!-- document.getElementById('updates').addEventListener('change', function() {
                    var selectedOption = this.value;
                    if (selectedOption === 'text') {
                        // Perform action for text option
                        console.log('Text option selected');
                    } else if (selectedOption === 'email') {
                        // Perform action for email option
                        console.log('Email option selected');
                    } else if (selectedOption === 'emailtext') {
                        // Perform action for emailtext option
                        console.log('Email and Text option selected');
                    } else {
                        // Handle default or invalid option
                        console.log('Please select an option');
                    }
                });
                 -->
                

                <br>
            
                <button type="submit">Submit</button>
            </form>
            <br>
            <br>
        </main>
        
        <footer>
            Copyright &copy; 2024 Lumber Company<br>
            <a href="">FakeEmailForCompany@gmail.com</a>
            <div>
                <script>
                    document.write("Last Update: " + document.lastModified);
                </script>
            </div>
        </footer>
    </div>
</body>
</html>

