<!-- invoice_list.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lumber Company</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="final.css">
    <meta name="description" content="This webpage is to provide information about invoices for the company">
</head>

<body>
<header><h1><a href="index.html">Lumber Business</a></h1></header>

<nav>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="basics.html">Servies</a></li>
        <li><a href="info.html">Quote</a></li>
        <li><a href="invoices.html">Current Invoices</a></li>
    </ul>
</nav>

<div id="wrapper">
    <br>
    <main>
        <h2>~ Lumber Business - Invoices ~</h2>
        <table id="table">
            <!-- <thead> -->
            <tr>
                <th>Invoice ID</th>
                <th>Customer Name</th>
                <th>Total Cost</th>
                <th>View Details</th>
            </tr>
            <!-- </thead> -->
            <!-- <tbody> -->
            {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.invoice_id }}</td>
                <td>{{ invoice.customer.name }}</td>
                <td>{{ invoice.cost }}</td>
                <td id="link"><a href="{% url 'view_invoice' invoice.invoice_id %}">View Details</a></td>
            </tr>
            {% endfor %}
            <!-- </tbody> -->
        </table>
    </main>
    <br>
    <br>
</div>

<footer>
    Copyright &copy; 2024 Lumber Company<br>
    <a href="">FakeEmailForCompany@gmail.com</a>
    <div>
        <script>
            document.write("Last Update: " + document.lastModified);
        </script>
    </div>
</footer>

</body>
</html>
